node_modules
.next
out
brisk-out

packages/gatsby-generator/pages

packages/gatsby-generator/data/**/*.json

packages/gatsby-generator/bundles/**/*.js

packages/**/dist/**/*

packages/file-viewer/examples/example-files

cypress/plugins
