{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier",
        "prettier/flowtype",
        "prettier/react",
        "plugin:jest/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "import/extensions": ["error", "never", { "css": "ignorePackages", "json": "always" }]
    }
}
