{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "plugins": ["emotion"],
  "rules": {
    "emotion/jsx-import": "error",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "import/extensions": [
      "error",
      "never",
      { "css": "ignorePackages", "json": "always" }
    ],
    "react/sort-comp": "off"
  },
  "settings": {
    "import/resolver": {
        "node": {
          "extensions": [
            ".js",
            ".jsx",
            ".ts",
            ".tsx"
          ]
        }
      }
    
  },
  "overrides": [
        {
            "files": ["**/**/*.ts", "**/**/*.tsx"],
            "parser": "@typescript-eslint/parser",
            "plugins": ["emotion", "@typescript-eslint"],
            "rules": {
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": "error"
            }
        }
    ]
}
