node_modules

.next
.DS_Store
.idea

package-lock.json
yarn-error.log

/cypress
**/cypress/screenshots

/packages/website/pages/packages
/packages/website/pages/docs

/packages/website/data
/packages/**/bundles
/packages/**/**/yarn.lock

dist
out

deploy
!deploy/changeset-bot/changeset-bot.sd.yml
!deploy/changeset-bot/Dockerfile