node_modules

.next
.DS_Store
.idea

# dependencies
node_modules

package-lock.json
yarn-error.log

/cypress
**/cypress/screenshots

/packages/website/pages/packages
/packages/website/pages/docs

/packages/website/data/**/*.json
/packages/website/data/**/*.js
/packages/**/bundles/**/*.js
/packages/**/dist
/packages/**/**/yarn.lock

out

deploy
!deploy/changeset-bot/changeset-bot.sd.yml
!deploy/changeset-bot/Dockerfile