node_modules

.next
.DS_Store
.idea
.vscode
.env

.cache
*.tgz

package-lock.json
yarn-error.log

/cypress
**/cypress/screenshots

brisk-out
scratchings.js

/packages/gatsby-generator/pages

/packages/gatsby-generator/data
/packages/gatsby-generator/static/favicon.ico
/packages/gatsby-generator/typings

/packages/**/bundles
/packages/gatsby-generator/public
/packages/**/**/yarn.lock

dist
out
public

deploy
!deploy/changeset-bot/changeset-bot.sd.yml
!deploy/changeset-bot/Dockerfile
